.App {
  text-align: center;
}

body {
  background: rgb(208, 124, 165);
  background: linear-gradient(
    0deg,
    rgba(208, 124, 165, 1) 15%,
    rgba(200, 235, 236, 1) 100%
  );
  background-repeat: no-repeat;
  width: 100wh;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  background-color: blue;
}

.btn {
  display: flex;
  justify-content: space-around;
}

.add {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  border-radius: 20px;
}

.home {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.text {
  text-align: center;
}

input {
  width: 280px;
  height: 30px;
  text-align: center;
}

.student {
  width: 150px;
  height: 40px;
  background-color: blue;
  color: white;
  font-size: 18px;
}

.update {
  width: 150px;
  height: 40px;
  background-color: blue;
  color: white;
  font-size: 18px;
}
